body{
	background-color:#d8d4b7;
	color:#614d32;
}

.button{
	background-color:#614d32;
	color:#d8d4b7;
	float:right;
	width:15%;
	height:35px;
	margin:2%;
	padding:5px 30px 10px 25px;
	font-family:courier;
}

.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #614d32 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}

.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}

.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}

.info{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:2px;
  padding:5px;
  width:200px;
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
